@import "variables";

@mixin select-options {
    border-width: $base * 1;
    border-radius: $base * 4;
    flex-grow: 1;
}

@mixin box-shadow-container {
    box-shadow: 0 0 $base * 10 $box-shadow-color;
}

@mixin button {
    & input {
        border-width: $base * 1;
        border-radius: $base * 4;
        padding: $base * 6 $base * 45;
        background-color: #fff;
        transition: $delay;
        
        &:hover {
            background-color: #f4f4f4;
        }
        
        &:active {
            background-color: #F8F8F8;
        }
    }
}
