@import "functions";

$base: rem(1px);

// size
$flex-basis: 50%;

// color
$invalid-color: red;
$done-color: green;
$black-checkbox-color: #000;
$white-checkbox-color: #fff;
$white-color: #fff;
$box-shadow-color: #808080;

// media query
$max-width-sm: 540px;

// other
$delay: .1s;
